<div class="cover-container">
  <header class="masthead">
    <h3 class="masthead-brand">
      <Gravatar
        @hash={{this.model.gravatar}}
        @size={{50}}
        alt="avatar"
      />
    </h3>

    <nav class="masthead-nav">
      {{#each this.model.links as |link|}}
        <a href={{link.url}} class="nav-link" target="_blank" rel="noopener">
          {{link.title}}
        </a>
      {{/each}}
    </nav>
  </header>

  {{outlet}}

  <Footer @city={{this.model.city}} />
</div>