<div class="site-wrapper-inner">
  <div class="cover-container">
    <div class="masthead clearfix">
      <div class="inner">
        <h3 class="masthead-brand">{{gravatar-image email=model.gravatar size="100" default="identicon" imgClass="img-circle"}}</h3>
        <nav>
          <ul class="nav masthead-nav">
            {{#each model.links as |link|}}
            <li><a href={{link.url}} target="_blank">{{link.title}}</a></li>
            {{/each}}
          </ul>
        </nav>
      </div>
    </div>

    {{outlet}}

    <div class="mastfoot">
      <div class="inner">
        <p>{{current-year}}, {{model.city}}</p>
      </div>
    </div>
  </div>
</div>
